.DS_Store
lib_managed/
target/
*~
*#
.idea/
.settings/
.classpath
.project
progfun/.idea/*
*.iml
.emacs.desktop
.emacs.desktop.lock
wikipedia.dat
stackoverflow.csv
*.o
*.mex
__pycache__
.gradle/
build/
out/
ResNet50.h5
