[submodule "progfun/src/CourseraCodeSamplesReactiveProgramming"]
	path = progfun/src/CourseraCodeSamplesReactiveProgramming
	url = https://github.com/headinthebox/CourseraCodeSamplesReactiveProgramming
[submodule "progfun/src/parprog"]
	path = progfun/src/parprog
	url = https://github.com/axel22/parprog-snippets
[submodule "tutorials/mirage"]
	path = tutorials/mirage
	url = git://github.com/mirage/mirage-skeleton.git
[submodule "idris/TypeDD-Samples"]
	path = idris/TypeDD-Samples
	url = https://github.com/edwinb/TypeDD-Samples
